<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoliu.ucenterservice.mapper.UcenterMemberMapper">
<!--    如果是一个参数就可以随便取名字#{}，但如果又两个以上就要根据#{0},#{1}这样取；或者在传来的参数上加@param(名称)-->
<!--    然后在#{名称这样取，如果参数是对象时，就要根据·对应的对象属性值取出来}-->
    <select id="selectRegisterCount" resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM ucenter_member
    WHERE DATE(gmt_create) = #{value}
</select>
</mapper>
